html {
	
	font-family: 'Raleway', sans-serif;
	background: #ff9a9f; /* Old browsers */
	background: -moz-linear-gradient(left, #ff9a9f 0%, #ffceee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff9a9f 0%,#ffceee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff9a9f 0%,#ffceee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a9f', endColorstr='#ffceee',GradientType=1 ); /* IE6-9 */
	width: 100%;
	height: 100%;
}

body
{
	width: 96%;
	height: 100%;
	margin: 0 2%;
}

.bars
{
	height: 3%;
	width: 100%;
	z-index: 11;
	background: #ff9a9f; /* Old browsers */
	background: -moz-linear-gradient(left, #ff9a9f 0%, #ffceee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff9a9f 0%,#ffceee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff9a9f 0%,#ffceee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a9f', endColorstr='#ffceee',GradientType=1 ); /* IE6-9 */
}

.top
{
	position: fixed;
	top: 0;
	left: 0;
}

.bottom
{
	position: fixed;
	bottom: 0;
	left: 0;
}

.circle
{
	width: 857px;
	height: 857px;
	background: url(../images/circle.png);
	position: absolute;
	z-index: 9;
}

/*animation*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}

.noscroll { position: fixed; overflow-y:scroll }

.wrapper {
	width: 60%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.wrapper_title {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#topbar{
	height: 40px;
	background: white;
	width: 100%;
	position: fixed;
	z-index: 9999;
	margin-right: 10px;
	display: none;
	-webkit-box-shadow:0px 2px 3px rgba(0,0,0,0.3);
	box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}

.new-logo{
	font-size: 20pt;
    font-weight: 300;
        color: #7D7D7D;
    padding-top: 8%;  
        letter-spacing: 1px; 
        padding-bottom: 1px; 
}

.new-logo span{
	color: #B13C3C;
    font-weight: 500;
        padding-right: 2px;
            font-size: 20pt;
}	

#topbar .new-logo{
	    padding-top: 0px;
	     font-size: 13pt;



}
#topbar .new-logo span{
	    color: #222222;
	     font-size: 13pt;

}
#topbar a{
	text-decoration: none;
}

.line {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#slide1 .line {
	height: 20%
}

.line div{
	height: 100%;
	width: 4px;
	background: #ddd;
	margin: 0 auto;
}

#logo {
	float: left;
	width: 300px;
	z-index: 999;
	padding: 9px 9px 0px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#logo:hover {
	background: #F2F2F2;

}
#logo span{

}
#logo div {

}

.volume{
	color: rgba(113, 113, 113, 1);
	    font-weight: 300;
}
.enjoy{
	display: none;
	color: rgba(113, 113, 113, 1);
}
.navigation {
	display: none;
	position: fixed;
	z-index: 999;
	top: 50%;
	margin-top: -215px;
	text-align: center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}


.navigation li{
	color: #ff9a9f;
	display:block;
	padding: 0 10px;
	line-height:37px;
	font-weight:600;
	border-bottom:2px solid rgba(51, 51, 51, 0.65);
	text-align:left;
	width:53px;
	padding-left: 28px;
	cursor:pointer;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.navigation li span {
	font-size: 70%;
}
.navigation li.active{
	/*font-size:25px;
	
	width:100px!important;
	line-height: 45px !important; */
	
}

.navigation li.dark-menu{
	color: #ff9a9f;
	border-bottom: 2px solid rgba(255, 255, 255, 0.12) !important;

	text-transform: uppercase;

}

.navigation li.active.dark-menu{
	/*border-left: 4px solid #B13C3C; */
	padding-left: 26px;
	    font-size: 13pt;
	border-bottom: 2px solid rgb(255, 255, 255) !important;    
}
.navigation li.dark-menu:hover{
	border-bottom: 2px solid rgba(255, 255, 255, 0.52) !important;
}

.navigation li.active:hover{


}
.navigation .noborder{
	border: none !important;
	padding-left: 27px;
}
.navigation li.dark-menu.noborder:hover{
	border-left: none !important;
	padding-left: 27px;
}


.menulogo:hover{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
.slide {
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;

	/*-webkit-box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
	box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3); */
}
.launchscreen{
	    width: 28%;
    top: 30%;
    position: relative;
}
.wrapper.logo{
	    text-align: center;
	    height: 25%;
	        position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
}

.landingpage-interaction{
    bottom: 130px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
	z-index: 3;
    width: 237px;
}

input#round {
    padding: 11px 25px 13px;
    letter-spacing: 0.25px;
    background: transparent;
    border: 2px solid #B13C3C;
    color: #B13C3C;
    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	min-width: 235px;
}
a.button0.disabled{
    pointer-events: none;
}
input#round.disabled {
	border: 2px solid transparent;
	color: #757575;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}

.blink {
  animation: blink 4s steps(40, start) infinite;
  -webkit-animation: blink 4s steps(40, start) infinite;
  -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;

	transition: all .2s ease-in-out;
}
@keyframes blink {
 	0% {color: rgba(113, 113, 113, 1);}
	50% {color: rgba(113, 113, 113, 0.2),}
}

@-webkit-keyframes blink {
    0% {color: rgba(113, 113, 113, 1)}
	50% {color: rgba(113, 113, 113, 0.2)}
}
.flash {

}

.clickon{
	display: none;
	color: #B13C3C;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}

.clickon .arrow{
	margin-top: 10px;
	font-size: 11px;
	color: #717171;
}

.clickon:hover{
	color: black;

}

.clickon .arrow.left{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	display: inline-block;
}

input#round.blink:hover{
	-webkit-animation: none;
	animation: none;
}

input#round:hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	color: #FEFEFE;
    background-color: rgb(126, 124, 122);
}

input#round:hover,input#round:active,input#round:visited,input#round:focus {
	background-color: #B13C3C;
	outline: none;
	color: white;
}
#floating-social{
	position: fixed;
	bottom: 30px;
	right: 25px;
	z-index: 999;
}
#mute {
	display: none;
	position: fixed;
	bottom: 25px;
	left: 25px;
	z-index: 999;
	padding: 5px 7px 5px 7px;
	background: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#mute:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}
#mute.muted{
    background: #B13C3C;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#mute div {
	height: 30px;
	width: 30px;
	background: url(../images/icons/mute_on.png) center center no-repeat;
}

#mute .tooltiptext { 
    visibility: hidden;
    width: 330px;
    color: #080808;
    background-color: #e5e4e9;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 140%;
    border: 2px solid black;
}

#mute:hover .tooltiptext {
    visibility: visible;
}

#mute .tooltiptext .arrow-left {
	width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    position: absolute;
    left: -10px;
}

#mute.muted .tooltiptext{
	visibility: hidden;
}

/*SLIDES*/
.slide
{
	background: #f9f9f9;
}


/*Other*/
.landingpage {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
}

.intro {
	width: 30%;
	width: 340px;
	display: block;
	padding-top: 22%;
	position: relative;
	z-index: 4;
	color: white;
}

.intro .name {
	text-align: center;
	font-size: 20pt;
	color: #B13C3C;
}

.intro p{
	margin-bottom: 15px;
}

.intro-desc {
	width: 80%;
	text-align: justify;
	font-size: 12pt;
	line-height: 30px;
	margin: 20px auto 0 auto;
}

.profile {
	z-index: 10;
	width: 1000px;
	height: 600px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	margin: 0 auto;
	overflow: auto;
	position: absolute;
	top: 50%;
	font-weight: 500;
	margin-top: -300px;
}

.profile strong
{
	font-weight: 700;
}

.profile-title {
	font-size: 70px;
	position: absolute;
	top: 10px;
	left: 400px;
	color: #000;
	margin-top: 10px;
	font-weight: 700;
}


.profile-title span {
	font-size: 21px;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
}

.profile hr{
    width: 200px;
    height: 8px;
    border: 0;
    margin: 5px 0 0;

    background: #ff9a9f; /* Old browsers */
	background: -moz-linear-gradient(left, #ff9a9f 0%, #ffceee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff9a9f 0%,#ffceee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff9a9f 0%,#ffceee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9a9f', endColorstr='#ffceee',GradientType=1 ); /* IE6-9 */
}	
.profile hr.dark-line{
	color: #B10909;
}

.profile-description {
	color: #000;
	font-size: 21px;
	position: absolute;
	top: 150px;
	left: 475px;
	line-height: 30px;
}

.profile-description span {
	font-weight: bold;
}

.profile-shadow {
	text-shadow: 0px 0px 50px black;
}

.dark {
	color: #313131;
}

.wh {
	color: white;
}

/* Overlay
-------------------------*/
#jpreOverlay {
	background-color: #000;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

#jpreSlide {
	font-size: 22px;
	font-weight: bold;
	color: #ccc;
	text-align: center;
	display: none;
}

#jpreLoader {
	width: 500px;
	top: 68% !important;
}

#jpreBar {
	display: none;
}

#jprePercentage {
	color: #ccc;
	font-size: 2.2em;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #333;
	top: -100%;
}

#about1 {

	width: 100%;


	display: table;
	padding-top: 260px;
	padding-bottom: 140px;
}

#about2 {
	width: 100%;

}

.about-text {
	margin: 0 auto;
	color: #D8D8D8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
}

.about-text a {
	color: #fff;
	text-decoration: none;
}

.about-text p {
	padding-bottom: 25px;
}

.about-text p.disclaimer {


}
.about-text p.social {padding-bottom: 10px;}

.about-text #copyright{
	margin-left: 23%;
	margin-top: 20px;
}
.weblink{
	text-align: center;
	font-size: 40px;
	color: white;
	padding-bottom: 30px;
}
.weblink a{
	color: white;
}

.weblink a:hover{
	color: #B13C3C;
}
.weblink span{
    font-size: 15px;
    text-transform: uppercase;
    color: #D8D8D8;
}
.follow{
	text-align: center;
}

iframe#twitter-widget-1{
	vertical-align: bottom;
}


#dockContainer { position: fixed; top: 60px; left: 6px; }
#jqDock { position: relative; bottom: 48px; }
.jqDockLabel { background: #333; color: #fff; padding: 3px 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }

.rotate{
 	display: none;
	position: fixed;
	z-index: 999999;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.90);
	color: white;
	text-align: center;
	font-size: 22px;
	padding-top: 200px;
 }
 .rotate img{
 	margin-bottom: 10px;
 }

/* Landscape phone to portrait tablet */
@media only screen and (min-width: 480px) and (max-width: 768px) {
	.noscroll{
		position: static; 
		overflow-y:auto;
	}
	.launchscreen {
		width: 70%;
	} 
	.clickon{
		display: none !important;
	}
	.landingpage{
		padding-top: 10%;
	}
	.landingpage-interaction{
		margin-top: 0px;
	}
	.navigation{
		margin-top: 50px;
		top: 0;
	}
	.navigation li{
		line-height: 25px;
		width: 50px;
		padding-left: 15px;
		font-size: 14px;
	}
	.navigation li:hover{
		padding-left: 11px;
		line-height: 25px;
	}
	.navigation li.active,.navigation li.active:hover {
		font-size: 19px !important;
		width: 153px!important;
		line-height: 30px !important;
	}
	.navigation li.active.dark-menu{
		padding-left: 11px!important;
	}
	.menulogo{
		display: none;

	}
	#mute{
		left: 125px;
		left: auto;
	}
	.slide{
		background-attachment: scroll;
	}
	.intro{
		padding-top: 50px;
		text-shadow: 1px 2px 8px black;
		width: 100%;
	}
	.intro-desc{
		font-size: 20px;
		margin: 0 auto;
	}
	.profile{
		width: 100%;
		top: 60px;
		padding: 0px 13%;
	}
	.profile-title{
		display: none;
	}
	.profile-description{
		width: 100%;
		padding-left: 0px;
		border: none;
		font-size: 11pt;
	}
	.profile-description span{
		font-size: 20px;
	}
	.weblink a{
		font-size: 25px;
	}
}
@media only screen and (max-device-width : 768px) and (orientation : portrait) {
	.rotate{
		display: block;
	}
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 979px) { 
	#mute{
		left: 25px;
	}
	.navigation{
		margin-top: 60px;
		top: 0;
	}
	span.volume{

	}
	span.enjoy{
		
	}
	.profile{
		width: 70%;
		top: 60px;
		padding: 0px;
	}
	.about-title{
		float: auto;
		text-align: left;
		width: auto;
		font-size: 30px;
		line-height: auto;
		padding-top: 20px;
	}
	.about-text{
		width: 100%;
	}
	#about2 .about-text{
		width: 60%;
    	margin: 0 auto;
	}
	.weblink a{
		font-size: 30px;
	}
}