/** RTL Support
-------------------------------------------------------------- */
.masthead-logo {
	float: right;
}
.nav-wrapper {
	float: left;
}
.edit-post {
	float: left;
}
.socialmag-share-content h5,
.socialmag-comments h3.comments,
.comment-text-title h4 {
	padding-right: 20px;
}
i.mobile-icon {
	font-size: 40px;
    color: #000;
    line-height: 60px;
    position: absolute;
    right: auto;
    left: 20px;
}
.wp-custom-header img,
.wp-custom-header video {
	right: 50%;
	transform: translate(50%,0);
	left: 0;
}
@media screen and (max-width: 991px) {
	i.search-icon {
		padding: 20px;
	}
}